html,
body {
    height:100%;
    position: relative;
}
body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: #336870 url("wallpaper.jpeg") no-repeat top;
    background-size: 100%;
}
@media screen and (max-width: 800px) {
    body {
        background: #f5f5f5;
    }
    .jumbotron {
        background: #f5f5f5;
    }
}
.form-signin {
    width: 100%;
    max-width: 550px;
    padding: 15px;
    margin: auto;
}
.textbox {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    display: block;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}